<div class="container">
  <mat-card class="login-card">
    <mat-card-title>Sign Up</mat-card-title>

    <form>
      <mat-form-field class="form-group">
        <label for="email">E-mail</label>
        <input matInput type="email" id="email">
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="password">Password</label>
        <input matInput type="password" id="password">
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit">Sign Up</button>
    </form>
  </mat-card>
</div>