


<img class="img-responsive card-img"  [src]="recipe.imagePath" alt="{{ recipe.name }}">

<div class="card-body">
  <h1 class="card-title">{{ recipe.name }}</h1>
  <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a class='link' [routerLink]="['/recipe', recipe.id, 'edit']" >Edit Recipe</a></li>
        <li><a class='link' (click)='deleteRecipe(recipe)'>Delete Recipe</a></li>
      </ul>
  </div>

  <h3 class="card-title">Ingredients</h3>
  <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
    {{ ingredient.name }} - {{ ingredient.amount }}
  </li>

  <h3 class="card-title">Instructions</h3>
  <p class="card-text">{{recipe.description}}</p>

</div><!-- .card-body -->
