<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<h3> Breakfast	</h3>

			<ng-template [ngIf]="dBreakfast.length">
				<app-recipe-item *ngFor="let breakfast of dBreakfast" [recipe]='breakfast'></app-recipe-item>
			</ng-template>

			<ng-template #breakfast>		</ng-template>
		</div>

		<div class="col-md-4 col-sm-12">
			<h3> Lunch </h3>
			<ng-template [ngIf]="dLunch.length">
				<app-recipe-item *ngFor="let lunch of dLunch" [recipe]='lunch'></app-recipe-item>
			</ng-template>

			<ng-template *ngIf="!dLunch.length" #placeholderRef #lunch></ng-template>
		</div>

		<div class="col-md-4 col-sm-12">
			<h3> Dinner </h3>

			<ng-template [ngIf]="dDinner.length">
				<app-recipe-item *ngFor="let dinner of dDinner" [recipe]='dinner'></app-recipe-item>
			</ng-template>

			<ng-template *ngIf="!dDinner.length" #placeholderRef #dinner></ng-template>
		</div>
	</div>
</div>


<!-- TODO:
	- How to push selected recipe to the breakfast, lunch or dinner array
-->

<!-- <ng-template #emptyPlaceholder>
	<app-empty-placeholder [dropdownOptions]='recipes' (optionSelected)='selectedMeal($event)'></app-empty-placeholder>
</ng-template> -->