<div class="container">
  <div class="row header">
    <div class="col-sm-6">

      <mat-form-field>
        <mat-select [value]="selectedLayout">
          <mat-option *ngFor="let layout of plannerLayoutList; let i = index" [value]="i">
            {{layout.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="buttons-group">
      <button class="btn" (click)="addToShoppingList()">
        Add to shopping list
      </button>
    </div>
  </div><!-- Planner Header :: END -->


  <!-- Calendar List -->
  <app-day-view [planner]="planner"
                [recipes]="dropdownRecipeList$ | async"
                (removeRecipe)="removeRecipe($event)"
                (addRecipe)="addRecipe($event)">
  </app-day-view>


</div>