.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.header {
    padding: 12px 0;
    align-items: center;
}



.list {
    display: flex;

    // .list-title
    &-title {
        font-size: 20px;
        line-height: 24px;
        color: #172b4d;
    }
    .card-item {
        max-width: 300px;
        margin: 0 8px;
    }
}


.recipe-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    min-height: 20px;
    position: relative;
    text-decoration: none;

 &::ng-deep {
    .card-img {
        display: block;
        max-height: 150px;
        width: auto;
    }

    .card-footer {
        padding: 6px 8px;
    }
    .card-title {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 24px;
    }

    .card-text:last-child {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
    }
 }
}



.add-button {
    display: block;
    &:hover {
        background-color: rgba(9,30,66,.08);
        color: #172b4d;
    }
}
