<div class="card bg-light empty-placeholder">
	<div class="card-body">
		<div class="dropdown" appDropdown>

			<input type="text" placeholder="+ Add Meal"
					class="card-title text-muted dropdown-toggle" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" *ngFor='let option of dropdownOptions' (click)='selectedOption(option)'>
					{{option.name}}
				</a>
			</div>
		</div>
	</div>
</div>